test/
coverage/
src/
secrets/
src/sample/
src/sample.ts
src/spec/
dist/spec/
dist/sample.*
dist/dotup-sample-skill/
spec/
docs/
scripts/
.vscode
.gitignore
.npmignore
.travis.yml
.idea
.nyc_output
tsconfig.json
tslint.json